@import "../variable-mixin/variable-mixin.scss";
@import "../media/media.scss";

#slider__logement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 415px;
    position: relative;

    @include appareil(mobile) {
        margin: auto;
        margin-top: 30px;
        height: 260px;
      }

    .slider__logement__img {
        position: absolute;
        height: 100%;
        width: 100%;
        display: none;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        &.active {
           display: block
        }
    }
    .slider__logement__fleche {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        z-index: 1;
        &-droit {
            margin-right: 25px;
            @include appareil(mobile) {
                width: 24px;
              }
        }
        &-gauche {
            margin-left: 25px;
            @include appareil(mobile) {
                width: 24px;
              }
        }
        
    }
    .slider__logement__compteur {
        z-index: 1;
        color : $couleurPoliceSec;
        position: absolute;
        font-size: 18px;
        bottom: 25px;
        @include appareil(mobile) {
            font-size: 14px;
          }
    }
}