@import "../variable-mixin/variable-mixin.scss";
@import "../media/media.scss";

.detail__logement {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 92%;
  @include appareil(mobile) {
    width: 97%;
  }

  &__entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    @include appareil(mobile) {
      flex-direction: column;
    }

    &__titre-localisation-tag {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      color: $couleurPolicePrim;
      max-width: 75%;
      @include appareil(mobile) {
        max-width: 100%;
        width: 100%;
      }

      &__titre {
        font-size: 36px;
        margin-bottom: 0;
        margin-top: 0;
        @include appareil(mobile) {
          font-size: 18px;
        }
      }

      &__localisation {
        font-size: 18px;
        margin-top: 0;
        @include appareil(mobile) {
          font-size: 14px;
        }
        
      }
      &__tag {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        color: $couleurPoliceSec;
        
        li {
          font-size: 14px;
          background-color: $couleurPrincipal;
          justify-content: center;
          min-width: 110px;
          padding: 5px 10px;
          border-radius: 10px;
          @include appareil(mobile) {
            min-width: 84px;
            font-size: 10px;
          }
        }
      }
    }

    &__hote-note {
      display: flex;
      flex-direction: column;
      color: $couleurPolicePrim;
      font-size: 18px;
      gap: 10px;
      @include appareil(mobile) {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
      
      &__hote {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        .nom-hote {
          width: 90px;
          text-align: end;
          @include appareil(mobile) {
            font-size: 12px;
          }
        }

        .image-hote {
          border-radius: 65px;
          width: 64px;
          height: 64px;
          @include appareil(mobile) {
            width: 32px;
          height: 32px;
          }
        }
      }
      &__note {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        img {
          width: 24px;
          @include appareil(mobile) {
            width: 13px;
          }

        }
      }
    }
  }

  &__collapse {
    font-size: 18px;
    display: flex;
    width: 100%;
    gap: 80px;
    margin-bottom: 50px;
    @include appareil(mobile) {
      flex-direction: column;
      gap: 20px;
    }

    .collapse {
      width: 50%;
      @include appareil(mobile) {
        width: 100%;
        
      }

      &__button {
        width: 100%;
        font-size: 24px;
        @include appareil(mobile) {
          font-size: 13px;
        }
        &__content {
          height: 100%;
          @include appareil(mobile) {
            font-size: 12px;
          }
      }
      
      }
    }
  }
}
