@import '../variable-mixin/variable-mixin.scss';

footer {
  background-color: $couleurFooter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  .kasa-logo-footer {
    margin-top: 70px;
    filter: brightness(3);
    width: 130px;
  }
  
  p {
    color: $couleurPoliceSec;
    margin-bottom: 25px;
  }
}
