@import '../variable-mixin/variable-mixin.scss';
@import '../media/media.scss';

footer {
  background-color: $couleurFooter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  @include appareil(mobile) {
    gap:5px;
  }
  .kasa-logo-footer {
    margin-top: 60px;
    filter: brightness(3);
    width: 130px;
    
  }
  
  p {
    font-size: 24px;
    color: $couleurPoliceSec;
    margin-bottom: 25px;
    @include appareil(mobile) {
      font-size: 12px ;
      width: 133px;
      text-align: center;
      margin-bottom: 60px;
    }
  }
}
