.conteneur__collapseApropos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  .collapse {
    width: 80%;

    &__button {
      width: 100%;
      text-align: start;
      height: 100%;
      font-size: 24px;

      &__content {
        height: 100%;
      }
    }
  }
}
