@import '../variable-mixin/variable-mixin.scss';
@import '../media/media.scss';

.contenu__principal {
  margin: 0 60px 0 60px;

  @include appareil(mobile) {
    margin: 0 10px 0 10px;
  }

  &__liste {
    background-color: $couleurConteneur;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 340px;
    margin: 0;
    padding: 0;
    gap: 20px;
    justify-content: space-between;
    padding: 50px;
    border-radius: 30px;

    @include appareil(mobile) {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .card-logement {
      border-radius: 15px;
      box-sizing: border-box;
      margin: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 500px;
      height: 100%;
      position: relative;
      
      @include appareil(mobile) {
        height: 260px;
        max-width: none;
      }

      &::after {
        z-index: 1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(251, 250, 255, 0);
        background: linear-gradient(
          180deg,
          rgba(251, 250, 255, 0) 0%,
          rgba(0, 0, 0, 0.103)60%,
          rgb(0, 0, 0) 100%
        );
        border-radius: 15px;

      }
      img {
        object-fit: cover;
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }

      figcaption {
        z-index: 2;
        width: 90%;
        position: absolute;
        top: 80%;
        color: $couleurSecondaire;
        font-size: 18px;
        margin-left: 10px;
      }
    }
  }
}
